.footer {
    background-color: #8DADC1;
    color: rgb(53, 53, 57);
}


.footer a {
    color: rgb(53, 53, 57);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.h5_footer {
    font-family: Crimson Text, serif;
    color: rgb(53, 53, 57);
    padding: 0%;
    margin: 0%;   
    font-size: x-large;
}

.section_1_footer {
    text-align: center !important;
}

.section_2_footer {
    text-align: center !important;
    font-size: medium !important;
}

.p_footer {
    color: rgb(53, 53, 57);
    padding: 0%;
    margin: 0%;
    text-align: center !important;
    font-size: small;
}

