body {
    border-bottom: 1px solid #e0e0e0;
}


/* CARD IMG*/

.top-image-container {
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 100px;
    padding-top: 9%;
    overflow: hidden; /* Nasconde le parti fuori dal riquadro */
}

.top-img {
    position: absolute;
    left: 50%; 
    width: 100%;
    height: auto;
    transform: translate(-50%, -62%); 
    object-fit: cover; /* Ritaglia l'immagine per riempire il contenitore */
    filter: opacity(0.9);
}

@media (max-width: 768px) {
    .top-img {
        transform: translate(-50%, -52%); 
    }
}


/* CARD TITLE */
h1 {
    font-family:Crimson Text, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    font-size: 3vw;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 3vw;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 4vw ;
    }
}




/* DOCUMENTATION PART */
p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}


.doc_list {
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    text-align: center;
    font-family:Crimson Text, serif;
    padding: 10px; 
    margin-top: 30px; 
    background-color: #f8f8f8;
    margin-left: 2%;
    margin-right: 2%;
}



@media (max-width: 768px) {
    h2 {
        font-size: 1.6em;
    }
}

h3 {
    font-family: Crimson Text, serif;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width: 768px) {
    h3 {
        font-size: 1.3em;
    }
}


/*LINE*/
.line {
    background-color: #d18903;  
    height: 1px;
    border: none;
}






/* FOOTER */ 
.footer {
    background-color: #8DADC1;
    margin: 0px;
    padding: 15px;
    clear: both;
    text-align: right;

}

.footer a {
    color: black; 
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline; 
}
