
footer {
    background-color: #94afc0;
}

/*Navbar*/

.bg-nav{
background-color: #94afc0;
}

.dropdown-submenu {
position: relative;
background-color: #bcd9d8;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    border-radius: 0.25rem;
    display: none;
    background-color: #bcd9d8;
}

.dropdown-menu .dropdown-item:hover{
background-color: lightblue;
}

.nav-item:hover{
background-color: lightblue;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;    
}

.dropdown-menu.show {
    display: block;
    background-color: #bcd9d8;
}



.line {
    background-color: #efd199;  
    height: 1px;
    border: none;
}

